<footer class="db-dark text-center p-4">
    <h1 class="h4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta hic repellendus aperiam, perferendis velit tenetur cumque, dolore optio iusto odio voluptates, amet quasi vel? Totam saepe quis consequatur vero similique?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem facilis pariatur tempora ipsa delectus eos molestias doloribus dolores cum blanditiis deleniti alias illo fugit officia voluptate laudantium, quis magni aspernatur.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>